<section class="flex container gap-2">
  <app-topic-list class="col-2" />

  <app-section-nav class="col-2" />

  <div>
    <section id="installAngular">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat voluptates eos nam
        corrupti, dolore commodi dicta vitae sint ex, culpa eligendi earum quibusdam dolor?
        Veritatis consequuntur enim incidunt, deserunt exercitationem illo ipsa dicta nobis
        laudantium odit quasi eos tempore pariatur labore libero ipsam deleniti? Velit non eos amet
        voluptatem repellat laudantium, harum corrupti similique, autem ex aliquam minima. Explicabo
        dolorem excepturi, nesciunt ipsa, suscipit iure fugiat vitae deleniti maiores facere
        accusantium molestias nisi velit sapiente cum. Alias ipsam quis minus voluptatem tenetur
        nesciunt maxime ab consequuntur fugit aperiam, vero ipsa et maiores ducimus velit ratione
        illum! Quisquam iste itaque temporibus amet. Soluta ab, odio recusandae neque quae, dicta
        totam sit doloremque non modi dolore voluptatibus voluptate consequuntur nihil. Blanditiis
        eligendi quasi laudantium aliquid ipsa tempora at! Incidunt blanditiis voluptatibus aut
        debitis iusto accusantium, officia veniam nesciunt quisquam corrupti sapiente quae rerum
        facilis libero odit nulla, amet id ipsam unde quaerat maiores non adipisci beatae eveniet!
        Quae eaque explicabo eligendi praesentium sequi quidem, minus sapiente quibusdam deserunt
        magni illum quasi iste unde quis veniam optio, voluptates excepturi, consectetur architecto
        inventore amet dolor reiciendis non? Accusamus adipisci autem dolorum nesciunt amet eum,
        excepturi provident saepe beatae voluptas sint quisquam ipsa, quaerat sed ducimus
        reiciendis, dicta est possimus veniam odit sapiente voluptates a magni. Maxime, numquam. Et
        neque cum quam minima, iste sunt nihil adipisci voluptatem blanditiis laboriosam dolor
        quidem iusto. Assumenda molestiae illum illo reprehenderit aliquam officiis minima fuga
        mollitia, unde, vero hic omnis libero eligendi autem vitae voluptas repellat sit quis.
        Eaque, repellat sequi ea blanditiis necessitatibus exercitationem, delectus veritatis
        reprehenderit sapiente dolor odit illum assumenda sed quo nostrum sint eveniet. Rerum labore
        vero deleniti. Nisi tenetur quia tempore maxime ea, neque incidunt. Nam illum harum adipisci
        iste, sapiente laudantium ad nemo qui repellendus! Aliquid nobis esse nesciunt quibusdam
        quae inventore odit ipsum eveniet aperiam soluta magnam repellendus porro distinctio sunt
        eos iure possimus voluptas sit nemo, repellat modi! Provident omnis esse, optio pariatur
        debitis totam voluptate corporis accusamus saepe deleniti. Dignissimos atque obcaecati,
        natus provident quia veritatis hic reprehenderit facilis tempora animi sit labore facere
        aspernatur! Quas placeat harum tenetur qui nesciunt dolorem, accusantium praesentium neque
        ut, facere fugiat excepturi esse laudantium ea magnam sed consequuntur minus ullam quo
        facilis, odio necessitatibus! Alias, animi perferendis, temporibus optio libero esse
        veritatis, laudantium tempore minima doloremque unde hic nostrum iusto atque. Consectetur
        voluptatum explicabo ex nulla aperiam, nemo dignissimos non quos mollitia voluptates enim
        maxime maiores cum voluptatem laboriosam magnam eveniet error magni corporis dolorum,
        repudiandae nesciunt numquam. Neque earum a laudantium, accusantium repellat autem corporis
        omnis magni fugiat laboriosam, cum esse repellendus eveniet voluptas enim numquam nostrum
        veritatis unde similique doloremque aperiam? Cumque, quia. Accusantium, quod. Laborum
        doloribus vitae perferendis facilis quasi sequi nulla voluptatum velit quos qui delectus
        error illum eveniet quidem laudantium veniam et, obcaecati commodi provident! Repellendus,
        suscipit rerum inventore velit, illum laborum, quod aperiam accusamus laboriosam facere
        explicabo corporis ipsam vitae similique. Quis inventore repellat magni perferendis fugit
        eligendi expedita temporibus delectus pariatur laboriosam. Cupiditate deserunt ea
        reprehenderit error labore quis ipsum magnam rem soluta delectus corporis necessitatibus,
        dolor qui illo voluptatibus quaerat corrupti sequi ut aliquid laudantium natus dolores.
        Repellendus est, fugit iusto atque rerum voluptatum porro. Totam officiis hic voluptate
        perferendis, ea maiores qui facilis doloribus at! Veniam reprehenderit iste officia nisi
        tenetur rerum obcaecati quibusdam beatae soluta dignissimos quo ullam qui repellendus vitae
        accusamus maiores commodi, at, quidem delectus voluptate. Praesentium adipisci nulla qui
        labore quisquam, explicabo ducimus minus eos consectetur odio, commodi amet illum veritatis
        magnam maiores dolore vero nam cupiditate inventore distinctio ex? Error magni nihil debitis
        veritatis sit? Consequatur, ipsa fugit.
      </p>
    </section>
    <section id="createProject">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum eius obcaecati, culpa
        adipisci dolore aut cum! Officiis enim tempora iste recusandae doloremque cupiditate
        provident ratione voluptates asperiores perspiciatis quis nemo ea, fugit debitis beatae
        labore aut libero dolor eaque alias adipisci mollitia qui dicta! Minus impedit dolores illum
        facilis! Minima harum ratione magni! Debitis expedita rerum veniam quod, qui omnis, dolor
        minima dolorum quae sequi dolorem explicabo? Optio quasi dicta quae sunt ducimus nemo
        pariatur enim molestias odio veniam voluptatibus qui delectus, cumque nobis inventore
        veritatis debitis. Accusamus mollitia eligendi iure quisquam quam tempore, inventore
        repellendus numquam id fuga perspiciatis dignissimos veniam ad itaque rerum consectetur
        deleniti velit fugit amet illum! Eum repudiandae distinctio error dolorem eaque magni velit
        asperiores, iste doloremque. Odit eos possimus omnis nostrum alias rem laboriosam aliquid
        fugit, reprehenderit distinctio, id recusandae eveniet voluptas nam cum laborum ratione
        soluta natus a fuga optio impedit deleniti praesentium. Ad voluptas numquam nihil neque
        libero nemo obcaecati similique veritatis facilis. Odio delectus architecto fugiat quo
        suscipit, deserunt praesentium id corporis ullam neque porro corrupti reprehenderit
        explicabo nostrum optio. Odio veniam perferendis facilis, harum necessitatibus voluptate
        obcaecati assumenda laborum optio, delectus repellendus dolore ex placeat culpa sequi autem
        est eaque ea commodi molestias quae! Et necessitatibus soluta, laudantium possimus magnam
        voluptatum adipisci fugit eveniet, nihil est fuga quas harum ipsa officia in impedit illo
        accusamus excepturi rerum. Fuga amet porro neque illo dignissimos mollitia explicabo culpa
        laudantium ex accusamus excepturi, rem corporis veniam ipsum expedita harum doloribus ullam?
        Corporis quisquam voluptas deserunt ex qui, natus molestiae iste minima rem optio temporibus
        nobis ut ipsum. Voluptatibus adipisci facilis quidem, repellat tempora illum, optio iusto
        qui sunt animi laborum earum dolor unde debitis, corporis dignissimos velit. Alias et
        corrupti, consectetur sint qui molestiae expedita voluptas harum facilis natus tempora
        officia est eveniet optio perspiciatis illo. Quas ea nesciunt deleniti minus maxime rem quos
        fuga eos veniam sed, maiores itaque impedit, eaque dicta! Necessitatibus neque sit
        voluptatum itaque dignissimos iure debitis alias aspernatur molestias sequi officia soluta
        sapiente quasi eius suscipit nesciunt, aut, officiis quaerat nemo blanditiis temporibus.
        Modi incidunt nobis libero, laboriosam corporis minus recusandae nulla accusantium nostrum
        voluptas, architecto, quos perspiciatis. Aut natus culpa neque eveniet mollitia? Deleniti
        facere sunt dolores! Nemo saepe veritatis officiis nam. Facilis deserunt cumque ut iure
        saepe, quos dicta fuga illo? Accusantium deleniti minus molestiae odio ducimus repellat
        minima enim quaerat ullam, sit, adipisci quo, quisquam asperiores esse? Laboriosam nobis
        neque magnam provident nulla corrupti nam atque dolor veritatis harum dicta ullam ratione
        perferendis, maxime fuga esse quis voluptatem sint, temporibus et? Saepe placeat quae optio
        perferendis beatae earum in expedita libero veniam possimus magnam officiis a odit natus
        autem quasi culpa consequuntur accusantium dolorum, modi suscipit voluptatem. Voluptas,
        asperiores error quo porro amet facilis et corrupti minima dolor temporibus! Repellendus
        deleniti maiores alias. Natus repudiandae architecto tempore amet tenetur et sint rem quia,
        quas consequuntur iste soluta velit alias neque ex nobis doloremque corrupti atque.
        Assumenda commodi alias quam. Iusto debitis maiores quas! Quo non ipsa aliquam odio
        explicabo mollitia possimus, aliquid voluptatibus labore rerum a, eos molestiae, porro
        tenetur ex culpa maiores dolor dicta quaerat repudiandae illo. Quos maiores, quibusdam
        deleniti eveniet similique excepturi, incidunt repudiandae repellendus reprehenderit quas,
        eius facilis dolorem nemo ab corporis! Animi ullam officiis enim quas natus perferendis
        illo, fuga omnis non maxime quidem quibusdam a vero esse laboriosam dolores officia
        eligendi, sunt doloremque, beatae consequuntur! Eos, voluptates quod est beatae dolore aut
        eum. Voluptatem cum, aliquid nostrum incidunt cupiditate rem exercitationem, beatae sit
        consequuntur corrupti totam autem, magnam molestiae. Enim at tempore dicta veritatis iusto
        consequatur nemo perferendis consectetur dolor in fugiat, doloremque eaque expedita, nostrum
        ratione officia placeat! In fugit reiciendis, assumenda culpa tempore placeat sunt expedita
        et ab voluptas voluptate ut, ex autem molestias! Cum nihil fugiat voluptates tempore laborum
        dolor eius ipsam qui, perferendis optio cupiditate nostrum reprehenderit omnis vitae
        molestiae nisi necessitatibus maxime doloremque quae similique ea libero? Asperiores nostrum
        expedita consequatur natus, eligendi ratione explicabo voluptas. Molestiae, ex, libero
        laborum voluptates maiores officia, illum corrupti et ullam ut voluptate quo architecto
        natus. Commodi, delectus consectetur? Neque molestiae natus in ratione fuga, pariatur nihil
        minus non cumque magni nesciunt id recusandae, quis ipsa maxime fugit consectetur nulla.
        Veritatis enim voluptatum aliquid nobis libero sunt, iure, dolores sequi deleniti ipsum
        distinctio, dolorum repellat! Et earum a, consequatur distinctio deleniti exercitationem
        nesciunt reiciendis aut voluptates rerum eos quos quam velit porro corrupti excepturi
        expedita eius molestias ex laudantium neque, repudiandae repellat qui nulla? Iure deserunt
        impedit, neque quod illum esse architecto ratione officia ipsa inventore modi natus saepe
        officiis. Magni eligendi et non dignissimos quam debitis laudantium amet facilis, nihil sunt
        delectus beatae sint aut fugit ullam quasi. Ipsa mollitia quaerat veritatis voluptates vero
        deleniti quae sunt assumenda praesentium doloremque velit, vel, dolorem id eveniet laborum,
        maiores repudiandae architecto. Consectetur facilis cum velit veniam ab molestias, maiores
        placeat atque, dolores aut illo voluptatum reprehenderit sit deleniti culpa error aliquid,
        obcaecati distinctio labore est beatae ratione nemo! Non laborum perspiciatis enim
        temporibus, fugit praesentium esse dolor laudantium voluptates, dicta ea eum. Expedita iure,
        qui eaque, consequatur modi exercitationem laboriosam ad harum facilis tenetur quis
        provident. Voluptatem repudiandae nostrum quasi necessitatibus quaerat et quisquam. Ducimus
        quas necessitatibus dolores ipsam debitis voluptates, eaque non ullam perspiciatis incidunt
        amet. Eos iste sequi libero minus explicabo harum. Eligendi hic alias natus nisi recusandae,
        iste dicta optio repellat nemo quidem at beatae necessitatibus voluptatibus repudiandae a
        libero dolores eos laboriosam adipisci exercitationem possimus. Dicta aperiam officiis illo
        alias, incidunt deserunt culpa quo quidem enim molestias placeat voluptatibus, dolorem nihil
        amet. Ducimus iure aut officiis ratione et neque eligendi optio repudiandae? Rerum doloribus
        fuga dolor! Sint hic dolore deleniti eaque nam, delectus a voluptatum at! Ullam laboriosam
        odio autem vitae, aperiam, quibusdam repellat reiciendis quaerat optio debitis voluptate
        odit alias nam perspiciatis iste ratione necessitatibus, temporibus repudiandae ipsam nihil
        recusandae sequi. Nulla earum iusto aut perspiciatis dignissimos at rem deleniti neque sunt
        eum velit in, aspernatur quibusdam enim delectus ipsum facilis voluptas eligendi. Hic.
      </p>
    </section>
  </div>
</section>
